// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-left: 10px;
}

nav ul {
	margin-left: 0px;
}

// label, input {
// 	display: block;
// 	margin: 0 50%;
// }

#form {
	width: 500px;
	height: 400px;
	display: block;
	margin: 0 30%;
	text-align: center;

	li {
		list-style-type: none;
	}

	label, input {
		display: block;
	}
	input {
		margin: 0 35%;
	}
}